:root{
    --primario: #D42D2E;
    --secundario: #000000;
    --negro: #000000;
    --blanco: #FFFFFF;
    --gris-oscuro: #181A1B;
    --gris-claro: #858585;
    --gris:#313131;
    --gris-t:#31313189;
    --primario-acc: #FF2037;
    --primario-acc-trans: #ff203683;
    --azul-marino-trans:#257787ca;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "Major Mono Display", monospace;
    font-size: 14px;
    margin: 0; /* Reset margin */
    background-color: var(--gris-oscuro);
    padding: 2rem;
    color: var(--negro);
    display: flex;
    flex-direction: column; /* Por defecto apilamos verticalmente */
    align-items: stretch; /* Centramos horizontalmente en pantallas pequeñas */
}

div {
    margin: 0 auto;
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.aling_items {
    display: flex;
    flex-direction: row;
    width: 50rem;
    height: 4rem;
}

div.aling_links {
    display: flex;
    flex-direction: row;
    width: 23rem;
}

div.aling_links label {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 3rem;
    color: var(--azul-marino-trans)
    
}

h2 {
    color: var(--blanco);
    text-align: center;
    border-radius: 0.5rem;
    width: 10rem;
}

button[type="submit"] {
    background-color: var(--primario);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10rem;
}

.logo {
    margin: 0.5rem;
    width: 30rem;
    margin-bottom: 1.5rem;
    align-items: center;
    margin-left: 1rem;
}

.titulo {
    color: var(--primario-acc);
    font-family: "Major Mono Display", monospace;
    font-size: 7rem;
    text-align: center;
    margin-bottom: 6rem;
    filter: drop-shadow(2px 4px 6px red);
}

.aling_items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lottie-icon {
    width: auto; /* El ancho se ajustará según la proporción */
    height: auto; /* La altura se ajustará según la proporción */
    max-width: 5rem; /* El icono no ocupará más del 70% del ancho del primary-box */
    max-height: 5rem;
    filter: hue-rotate(10deg);
    filter: drop-shadow(2px 4px 6px red);
    margin-bottom: 0;
}

.campo_user {
    margin-top: -2rem;
}

.campo_cont {
    margin-top: -4rem;
}

.campo_acc {
    margin-top: -4rem;
}





label {
    display: block;
    margin-bottom: 5px;
    color: var(--gris-claro);
}

input[type="text"],
input[type="password"] {
    width: 30rem;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



button[type="submit"]:hover {
    background-color: var(--gris);
}

a {
    display: inline-block;
    margin-top: 10px;
    color: var(--azul-marino-trans);
    text-decoration: none;
    padding: 2rem;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .titulo {
        font-size: 5rem;
    }

    div.aling_items {
        display: flex;
        flex-direction: row;
        width: 40rem;
        height: 4rem;
    }

    .lottie-icon {
        max-width: 3rem;
        margin-bottom: 1rem;
    }

    input[type="text"],
    input[type="password"] {
        width: 20rem;
    }
    
    div.aling_links {
        font-size: 1.5rem;
        width: 24rem;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    div.aling_items {
        width: 30rem;
    }

    button[type="submit"] {
        font-size: 1rem;
        width: 6rem;
        padding: 10px 10px;
    }

    .logo {
        width: 20rem;
    }

    .titulo {
        font-size: 4rem;
    }

    .lottie-icon {
        max-width: 2.5rem;
        margin-bottom: 2rem;
    }

    div.aling_links {
        font-size: 1rem;
    }
    
    div.aling_links label {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 3rem;
        color: var(--azul-marino-trans)
    }

    div.aling_links {
        width: 21rem;
    }
}