html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.titulo {
    text-align: center;
    color: #F01E21;
    font-size: 4rem;
}

.logo {
    height: 12rem;
    width: 20rem;
}

.bloqueHoras{
    text-align: center;
    font-size: 1.5rem;
}

.bloqueFecha {
    text-align: center;
    font-size: 1.5rem;
}

.filtros {
    text-align: center;
    color: #F01E21;
}

.bloqueFiltro1 {
    text-align: center;
    font-size: 1.5rem;
}

.subFiltro {
    text-align: center;
    color: #F01E21;
}

.bloqueFiltro2 {
    text-align: center;
    font-size: 1.5rem;
}

.boton {
    text-align: center;
    font-size: 1rem;
}


.bloqueMovimiento {
    text-align: center;
}