<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajuste de Fechas Notion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preload" href="{{ url_for('static', filename='css/styles.css') }}" as="style">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <img class="logo" src="{{ url_for('static', filename='img/LOGO REYPER.png' ) }}">
    <h1 class="titulo">📅 Ajuste - Fechas de Producción 🦾</h1>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">inicio</a>

        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text">Usuario: {{ current_user.username }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Cerrar sesión</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Accesar</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <form id="adjustForm">
        <div class="bloqueHoras">
            <label for="hours">Horas a ajustar:</label>
            <input type="number" id="hours" name="hours" required>
        </div>
        <div class="bloqueMovimiento" id="bloqueMovimiento">
            <label for="move_backward">
                <input type="checkbox" id="move_backward" name="move_backward">
                Mover horarios hacia atrás (restar horas)
            </label>
        </div>
        <div class="bloqueFecha">
            <label for="start_date">Fecha de inicio (YYYY-MM-DD):</label>
            <input type="date" id="start_date" name="start_date" required>
        </div>

        <h2 class="filtros">Filtros (Opcional)</h2>

        <div class="bloqueFiltro1">
            <h3 class="subFiltro">Filtro 1</h3>
            <div>
                <label for="property_name_1">Propiedad:</label>
                <select id="property_name_1" name="property_name_1">
                    <option value="">Selecciona una propiedad</option>
                    <option value="ID del proyecto">ID del proyecto</option>
                    <option value="Cliente">Cliente</option>
                    <option value="Usuario">Usuario</option>
                    <option value="For - Código de departamento">Codigo de departamento</option> 
                </select>
            </div>
            <div>
                <label for="property_value_1">Valor:</label>
                <input type="text" id="property_value_1" name="property_value_1" placeholder="Valor del filtro">
            </div>
        </div>

        <div class="bloqueFiltro2"">
            <h3 class="subFiltro">Filtro 2</h3>
            <div>
                <label for="property_name_2">Propiedad:</label>
                <select id="property_name_2" name="property_name_2">
                    <option value="">Selecciona una propiedad</option>
                    <option value="ID del proyecto">ID del proyecto</option> 
                    <option value="Cliente">Cliente</option>
                    <option value="Usuario">Usuario</option>
                    <option value="For - Código de departamento">Codigo de departamento</option> 
                    </select>
            </div>
            <div>
                <label for="property_value_2">Valor:</label>
                <input type="text" id="property_value_2" name="property_value_2" placeholder="Valor del filtro">
            </div>
        </div>

        <div class="boton">
            <button type="submit">Ejecutar Ajuste</button>
        </div>
    </form>

    <div id="result"></div>

    <script>
        document.getElementById('adjustForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);

            fetch('/run_script', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const resultDiv = document.getElementById('result');
                if (data.message) {
                    resultDiv.innerHTML = '<p>Mensaje: ' + data.message + '</p>';
                } else if (data.error) {
                    resultDiv.innerHTML = '<p style="color: red;">Error: ' + data.error + '</p>';
                }
            });
        });
    </script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>