<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoIntelli</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />
    <link rel="preload" href="{{url_for('static', filename='css/styles.css')}}" as="style">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Major+Mono+Display&family=Onest:wght@100..900&family=Orbitron:wght@400..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header">
            <img class="logo" src="{{url_for('static', filename='img/LOGO.png')}}" alt="Logo">
            <nav class="navbar">
                <ul class="navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-trigger" href="#" id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
                            Notion
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url_for('create_project')}}">Nuevo Proyecto VEN</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="{{url_for('index')}}">Inicio</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="auth-links">
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                    <li>
                        <span class="usuario">{{ current_user.username }}</span>
                    </li>
                    <li>
                        <a href="{{url_for('logout')}}">Cerrar sesión</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{url_for('login')}}">Accesar</a>
                    </li>
                    <li>
                        <a href="{{url_for('register')}}">Registrate</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </header>

    <main class="primary-box-container">
        <div class="primary-box">
            <dotlottie-player class="lottie-icon" src="https://lottie.host/914ef2d8-2730-414f-b1fe-6bc5f536e169/5tUk3vpnjm.lottie" background="transparent" speed="1" loop autoplay></dotlottie-player>
            <h1 class="titulo">AutoIntelli!</h1>
            <p class="description">Esta plataforma reúne herramientas diseñadas para optimizar y automatizar procesos en la empresa, haciendo que áreas como producción,
                recursos humanos, diseño, ventas, compras y contabilidad trabajen de manera más ágil y eficiente.</p>

            <p class="description"> El objetivo es simple: reducir tiempos, minimizar errores y facilitar la gestión de tareas con tecnología inteligente.</p>
        </div>
        <div class="image-box"></div>
    </main>

    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
</body>
</html>
