<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acceso - ReyperHorarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="preload" href="{{ url_for('static', filename='css/login.css') }}" as="style">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div>
        <img class="logo" src="{{ url_for('static', filename='img/LOGO REYPER.png') }}" alt="Logo Reyper">
        <div class="aling_items">
            <h1 class="titulo">AutoIntelli</h1>
            <script
            src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
            type="module"
            ></script>

            <dotlottie-player class="lottie-icon"
            src="https://lottie.host/94254579-f9c6-481c-8e0e-295e37f5319b/xR9EBMkfAQ.lottie"
            background="transparent"
            speed="1"
            style="width: 300px; height: 300px"
            loop
            autoplay
            ></dotlottie-player>
        </div>

        <div>
            <h2>Acceso</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div>
                    {% for category, message in messages %}
                    <div role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span>&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <form method="POST" action="/login">
                <div class="campo_user">
                    <label for="username">Usuario</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="campo_cont">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="campo_acc">
                    <button type="submit">Accesar</button>
                </div>
                <div>
                    <a href="{{ url_for('index') }}" class="bt-secundario-cuestionario">Volver</a>
                    <a href="{{ url_for('logout') }}" class="bt-secundario2-cuestionario">Cerrar sesión</a>
                </div>
            </form>
        </div>
           
    </div>

</body>
</html>
